[main]
consumer_key: XXXX
consumer_secret: XXXX
access_key: XXXX
access_secret: XXXX

[path]
data_dir: XXXX
friends_last_id_file: %(data_dir)s/friends_last_id.pkl
friends_list_file: %(data_dir)s/friends_list.pkl
list_content_file: %(data_dir)s/list_content.pkl
image_path: %(data_dir)s/images
daily_path: %(image_path)s/daily

[debug]
twitter_calls: False
